*{
	margin:0;
	padding:0;
	-webkit-appearance:none;
}
.container .big-title{
	margin-top: 50px;
}
.container .nav-pills .nav-item .active{
	background: #333;
}
.container .nav-pills a{
	color: #333;
}
.CopyDwzBtn{
    margin:10px auto;
}
.CopyDwzBtn .btn-secondary{
    margin:10px auto;
    background: #FF5000;
    color: #fff;
    border: none;
}
.container .btn-zdy{
    background: #FF5000;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
}
#Active-Zjy .btn-active{
    background: #FF5000;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    margin:0 auto;
    display: block;
}

.container .Result .alert-danger{
    border:none;
    background: rgba(255,80,0,0.1);
    color: #FF5000;
}
.container .Result .alert-success{
    border:none;
    background: rgba(51,201,0,0.1);
    color: #33c900;
}
#Result_Tips{
	width: 100%;
	margin:0 auto;
	z-index: 99999;
	display: none;
}
#Result_Tips .alert-danger{
    border:none;
    background: rgba(255,80,0,0.1);
    color: #FF5000;
    display: block;
}
#Result_Tips .alert-success{
    border:none;
    background: rgba(51,201,0,0.1);
    color: #33c900;
    display: block;
}
#Creat-User .Result_Tips .alert-danger{
    border:none;
    background: rgba(255,80,0,0.1);
    color: #FF5000;
    display: block;
    margin-top: 20px;
}
#Creat-User .Result_Tips .alert-success{
    border:none;
    background: rgba(51,201,0,0.1);
    color: #33c900;
    display: block;
    margin-top: 20px;
}
#delzjy_model .btn-zdy{
    background: #FF5000;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
}
#Add-Active-ProJect .btn-zdy{
    background: #FF5000;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    margin:20px auto 0;
    display: block;
}
#Add-Active-ProJect .alert-danger{
    border:none;
    background: rgba(255,80,0,0.1);
    color: #FF5000;
    display: block;
}
#Add-Active-ProJect .alert-success{
    border:none;
    background: rgba(51,201,0,0.1);
    color: #33c900;
    display: block;
}
#EdiZjy .file{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
#EdiZjy .upload-click{
    position: relative;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#Add-ym .btn-zdy{
    background: #FF5000;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    margin:0 auto;
    display: block;
}
#Creat-User .btn-zdy{
    background: #FF5000;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    margin:0 auto;
    display: block;
}
.PeiZhiJiaoCheng{
    width: 100%;
    background: #f1f1f1;
    border-radius: 5px;
    padding:20px 20px;
    font-size: 15px;
    color: #666;
}
.PeiZhiJiaoCheng code{
    padding: 5px 8px;
    background: #fff;
    border-radius: 3px;
    font-weight: bold;
    border:1px solid #eee;
    margin:0 5px;
}
.PeiZhiJiaoCheng img{
    max-width: 90%;
}
/*PC端操作界面*/
@media screen and (min-width: 1000px) {
    .container{
        width: 700px;
    }
    .container .caozuo{
        text-align: right;
    }
    .container .dbt{
        width: 300px;
    }
}


/*每个页面的描述文字颜色*/
.container .tips{
	color: #999;
	font-size: 15px;
}

.container .nav .nav-item .active{
    background: #FF5000;
    border:none;
}

/*操作链接颜色*/
.container .card .card-body .card-link{
	color: #576b95;
	outline: none;
}

/*分页按钮字体颜色*/
.container .pagination .page-link{
	color: #333;
	font-size: 15px;
}

/*手动创建中间页的Result*/
.container .Result{
	display: none;
	margin-top: 15px;
}

/*自动创建中间页AutoCreatZjy-Con*/
.container .AutoCreatZjy-Con{
	display: none;
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0 1000px white inset; 
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset; 
}

/*登录界面*/
/*适应PC端 宽度大于1000px*/
@media screen and (min-width: 1000px) {
	#login-con{
		width: 600px;
		height: 380px;
		margin:120px auto 0;
	}
	#login-con .form .Result{
		display: none;
		margin-top: 15px;
	}
	#login-con .left{
		width: 35%;
		height: 380px;
		background: #FF5000;
		float: left;
	}
	#login-con .left img{
		width: 120px;
		height: 100px;
		margin:125px auto;
		display: block;
	}
	#login-con .right{
		width: 65%;
		height: 380px;
		float: right;
		background: #fff;
	}
	#login-con .right h3{
	    text-align: center;
	    margin-top: 30px;
	}
	#login-con .right .form{
		width: 80%;
		height: 150px;
		margin:30px auto;
	}
	#login-con .right .btn-dark{
		border:none;
		background: #FF5000;
	}
	#login-con .alert-danger{
        border:none;
        background: rgba(255,80,0,0.1);
        color: #FF5000;
        display: block;
    }
    #login-con .alert-success{
        border:none;
        background: rgba(51,201,0,0.1);
        color: #33c900;
        display: block;
    }
}

/*适应pad端 宽度在640-1000之间*/
@media screen and (min-width: 640px) and (max-width: 1000px) {
	#login-con{
		width: 600px;
		height: 380px;
		margin:120px auto 0;
	}
	#login-con .form .Result{
		display: none;
		margin-top: 15px;
	}
	#login-con .left{
		width: 35%;
		height: 380px;
		background: #FF5000;
		float: left;
	}
	#login-con .left img{
		width: 120px;
		height: 100px;
		margin:125px auto;
		display: block;
	}
	#login-con .right{
		width: 65%;
		height: 380px;
		float: right;
		background: #fff;
	}
	#login-con .right h3{
	    text-align: center;
	    margin-top: 30px;
	}
	#login-con .right .form{
		width: 80%;
		height: 150px;
		margin:30px auto;
	}
	#login-con .right .btn-dark{
		border:none;
		background: #FF5000;
	}
	#login-con .alert-danger{
        border:none;
        background: rgba(255,80,0,0.1);
        color: #FF5000;
        display: block;
    }
    #login-con .alert-success{
        border:none;
        background: rgba(51,201,0,0.1);
        color: #33c900;
        display: block;
    }
}

/*适应移动端 宽度小于640*/
@media screen and (max-width: 639px){
	#login-con{
		width: 88%;
		height: 600px;
		margin:45px auto 0;
	}
	#login-con .left{
		width: 100%;
		height: 100px;
		background: #FF5000;
		overflow: hidden;
	}
	#login-con .left img{
		width: 80px;
		height: 60px;
		margin:20px auto 0;
		display: block;
	}
	#login-con .right{
		width: 100%;
		height: 380px;
		background: #fff;
		overflow: hidden;
	}
	#login-con .right h3{
	    text-align: center;
	    margin-top: 30px;
	}
	#login-con .right .form{
		width: 80%;
		height: 150px;
		margin:30px auto;
	}
	#login-con .right .Result{
		margin-top: 20px;
	}
	#login-con .btn-dark{
	    border:none;
	    background: #FF5000;
	}
	#login-con .alert-danger{
        border:none;
        background: rgba(255,80,0,0.1);
        color: #FF5000;
        display: block;
    }
    #login-con .alert-success{
        border:none;
        background: rgba(51,201,0,0.1);
        color: #33c900;
        display: block;
    }
}

/*富文本编辑器*/
#Add-Active-ProJect .modal-body .paiban{
	margin-top: 20px;
}

#Add-Active-ProJect .modal-body .paiban a{
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 3px 5px;
	border-radius: 3px;
	font-size: 13px;
	background: #5a6268;
	float: left;
	margin-right: 5px;
}

#Add-Active-ProJect .modal-body .bianjiqi{
	width: 100%;
	height: 200px;
	border:2px solid #666;
	border-radius: 5px;
	margin-top: 60px;
	outline: none;
	padding: 10px 10px;
}

#Add-Active-ProJect .modal-body .copy_status_select{
	width: 100%;
	height: 50px;
	margin-top: 20px;
}


#Edi-Active-ProJect .modal-body .paiban{
	margin-top: 20px;
}

#Edi-Active-ProJect .modal-body .paiban a{
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 3px 5px;
	border-radius: 3px;
	font-size: 13px;
	background: #5a6268;
	float: left;
	margin-right: 5px;
}

#Edi-Active-ProJect .modal-body .bianjiqi{
	width: 100%;
	height: 200px;
	border:2px solid #666;
	border-radius: 5px;
	margin-top: 60px;
	outline: none;
	padding: 10px 10px;
}


/*活动中间页，上传图片按钮*/
#Add-Active-ProJect .modal-body .btn{
  position: relative;
  margin:10px auto;
  display: block;
}

#Add-Active-ProJect .modal-body .file_btn{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #5a6268;
	cursor: pointer;
	display: block;
}

#Edi-Active-ProJect .modal-body .btn{
  position: relative;
  margin:10px auto;
  display: block;
}

#Edi-Active-ProJect .modal-body .file_btn{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #5a6268;
	cursor: pointer;
	display: block;
}