*{
	margin:0;
	padding:0;
	-webkit-appearance:none;
}
.container .big-title{
	margin-top: 50px;
}
.container .nav-pills .nav-item .active{
	background: #333;
}
.container .nav-pills a{
	color: #333;
}


/*每个页面的描述文字颜色*/
.container .tips{
	color: #999;
}

/*操作链接颜色*/
.container .card .card-body .card-link{
	color: #576b95;
	outline: none;
}

/*分页按钮字体颜色*/
.container .pagination .page-link{
	color: #333;
	font-size: 15px;
}

/*手动创建中间页的Result*/
.container .Result{
	display: none;
	margin-top: 15px;
}

/*自动创建中间页AutoCreatZjy-Con*/
.container .AutoCreatZjy-Con{
	display: none;
}

/*登录界面*/
/*适应PC端 宽度大于1000px*/
@media screen and (min-width: 1000px) {
	#login-con{
		width: 600px;
		height: 350px;
		margin:120px auto 0;
	}
	#login-con .form .Result{
		display: none;
		margin-top: 15px;
	}
	#login-con .left{
		width: 35%;
		height: 350px;
		background: linear-gradient(to bottom right, #D279EE , #F8C390);
		float: left;
	}
	#login-con .left img{
		width: 120px;
		height: 100px;
		margin:125px auto;
		display: block;
	}
	#login-con .right{
		width: 65%;
		height: 350px;
		float: right;
		background: #fff;
	}
	#login-con .right .form{
		width: 80%;
		height: 150px;
		margin:90px auto;
	}
}

/*适应pad端 宽度在640-1000之间*/
@media screen and (min-width: 640px) and (max-width: 1000px) {
	#login-con{
		width: 400px;
		height: 300px;
		margin:120px auto 0;
	}
	#login-con .left{
		width: 35%;
		height: 300px;
		background: linear-gradient(to bottom right, #D279EE , #F8C390);
		float: left;
	}
	#login-con .left img{
		width: 100px;
		height: 80px;
		margin:110px auto;
		display: block;
	}
	#login-con .right{
		width: 65%;
		height: 300px;
		float: right;
		background: #fff;
	}
	#login-con .right .form{
		width: 80%;
		height: 100px;
		margin:60px auto;
	}
}

/*适应移动端 宽度小于640*/
@media screen and (max-width: 639px){
	#login-con{
		width: 88%;
		height: 550px;
		margin:45px auto 0;
	}
	#login-con .left{
		width: 100%;
		height: 100px;
		background: linear-gradient(to bottom right, #D279EE , #F8C390);
		overflow: hidden;
	}
	#login-con .left img{
		width: 80px;
		height: 60px;
		margin:20px auto 0;
		display: block;
	}
	#login-con .right{
		width: 100%;
		height: 280px;
		background: #fff;
		overflow: hidden;
	}
	#login-con .right .form{
		width: 80%;
		height: 150px;
		margin:35px auto;
	}

	#login-con .right .Result{
		margin-top: 20px;
	}
}