*{
	margin:0;
	padding:0;
	font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
}

#top{
	width: 100%;
	height: 45px;
	background: linear-gradient(to right, #ED835F , #EA4144); /* 标准的语法 */
	background: -webkit-linear-gradient(left, #ED835F , #EA4144); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ED835F , #EA4144); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ED835F , #EA4144); /* Firefox 3.6 - 15 */
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

#zhutu{
	width: 90%;
	margin:20px auto 0;
	background: #fff;
	overflow: hidden;
}

#zhutu img{
	width: 100%;
	height: 100%;
}

#title_con{
	width: 90%;
	margin:10px auto;
	font-size: 16px;
}

#title_con .by{
	display: block;
	width: 30px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	background: linear-gradient(to right, #ED835F , #EA4144); /* 标准的语法 */
	background: -webkit-linear-gradient(left, #ED835F , #EA4144); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ED835F , #EA4144); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ED835F , #EA4144); /* Firefox 3.6 - 15 */
	border-radius: 3px;
	color: #fff;
}

#title_con .qhj{
	display: block;
	width: 50px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	background: linear-gradient(to right, #ED835F , #EA4144); /* 标准的语法 */
	background: -webkit-linear-gradient(left, #ED835F , #EA4144); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ED835F , #EA4144); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ED835F , #EA4144); /* Firefox 3.6 - 15 */
	border-radius: 3px;
	color: #fff;
}

#title_con .title{
	margin-top: -20px;
	display: block;
	margin-left: 35px;
	overflow: hidden;
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis;
	white-space:nowrap;
	color: #4c4c4c;
}

#title_con .tofee{
	margin-top: -26px;
	display: block;
	margin-left: 58px;
	overflow: hidden;
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis;
	white-space:nowrap;
	color: #EA4D46;
	font-size: 24px;
	/*font-weight: bold;*/
}

#title_con .tofee .yj{
	color: #999;
	font-size: 14px;
	margin-top: -23px;
	display: block;
	margin-left: 80px;
}

#tkl{
	width: 90%;
	height: 65px;
	line-height: 65px;
	background-image: url("../images/tp1tklbg.png");
    margin:20px auto;
    overflow: hidden;
    border-radius:15px;
}

#tkl .kl{
	width: 65%;
	height: 65px;
	float: left;
	text-align: center;
	font-size: 20px;
	color: #fff;
	border-radius: 15px;
}

#tkl .copy{
	width: 32%;
	height: 65px;
	float: right;
	border-radius: 15px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}

#copytips .success{
	width: 160px;
	height: 85px;
	background: rgba(0,0,0,0.5);
	margin:20px auto;
	color: #fff;
	font-size: 17px;
	text-align: center;
	border-radius: 10px;
	position: fixed;
	top: 260px;
	left: 0;
	right: 0;
	display: none;
}