*{
	margin:0;
	padding:0;
	font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
}

/*主图*/
#zhutu{
	width: 100%;
	margin:0 auto;
}

#zhutu img{
	width: 100%;
}

#long_title{
	width: 90%;
	margin:10px auto 0;
	font-size: 18px;
	color: #333;
}

#price_msg{
	width: 90%;
	margin:10px auto;
}

#price_msg .qhj{
	font-size: 25px;
	color: #FF0036;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

#price_msg .yj{
	font-size: 16px;
	color: #666;
	display: block;
}

#tkl{
	width: 90%;
	height: 130px;
	background: #eee;
	margin:20px auto;
	overflow: hidden;
	border-radius: 5px;
}

#tkl .kl{
	width: 90%;
	height: 50px;
	text-align: center;
	margin: 10px auto;
	line-height: 50px;
	font-size: 25px;
	font-weight: bold;
	color: #FF0036;
}

#tkl .copy{
	width: 90%;
	height: 45px;
	background: #FF0036;
	color: #fff;
	text-align: center;
	line-height: 45px;
	font-size: 16px;
	margin:0 auto;
	border-radius: 5px;
	outline: none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}

#copytips .success{
	width: 160px;
	height: 85px;
	background: rgba(0,0,0,0.5);
	margin:20px auto;
	color: #fff;
	font-size: 17px;
	text-align: center;
	border-radius: 10px;
	position: fixed;
	top: 260px;
	left: 0;
	right: 0;
	display: none;
}