*{
	margin:0;
	padding:0;
	font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
}

/*主图*/
#zhutu{
	width: 100%;
	margin:0 auto;
}

#zhutu img{
	width: 100%;
}

#price_msg{
	width: 90%;
	margin:10px auto;
}

#price_msg .qhj{
	color: #F91415;
	font-size: 25px;
	font-weight: bold;
}

#price_msg .yj{
	color: #999;
	font-size: 16px;
}

#long_title{
	width: 90%;
	margin:10px auto 0;
	font-size: 18px;
	color: #444;
}

#tkl{
	width: 90%;
	height: 80px;
	background:#ffe4e9;
	margin:20px auto;
	border-radius: 8px;
}

#tkl .kl{
	width: 60%;
	float: left;
	height: 80px;
}

#tkl .kl .tkltips{
	width: 100%;
	height: 40px;
	line-height: 55px;
	text-align: center;
	color: #ff313e;
}

#tkl .kl .tkltext{
	width: 100%;
	height: 40px;
	line-height: 30px;
	text-align: center;
	color: #ff313e;
}

#tkl .copy{
	width: 40%;
	float: right;
	height: 80px;
	line-height: 80px;
	font-size: 20px;
	color: #ff313e;
	text-align: center;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
	font-weight: bold;
}

#copytips .success{
	width: 160px;
	height: 85px;
	background: rgba(0,0,0,0.5);
	margin:20px auto;
	color: #fff;
	font-size: 17px;
	text-align: center;
	border-radius: 10px;
	position: fixed;
	top: 260px;
	left: 0;
	right: 0;
	display: none;
}